*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body 
{
    background-color:#ADD8E6;
}
.loginblock
{
    position:absolute;
    width:95em;
    height:55em;
    background-color:black;
    top:4%;
    left:10.9%;
    background-image: url('/İmg/Loginbackground.jpeg');
    background-repeat:no-repeat;
    background-size:100%;
}

.cardcontainer
{
    width:95em;
    height:55em;
    background-image: url('/İmg/Free\ Photo\ _\ Football\ stadium\ at\ night\ generative\ ai.jpeg');
    background-position: center;
    background-size:100%;
    background-repeat:no-repeat;
    display:inline-flex;
    margin-left:13em;
    margin-top:2.4em;
    border-radius:0.5em;
    
}
.player1
{
    position:absolute;
    right:10%;
    top:5%;
    width:18em;
    height:7em;
    border: 3px solid orange;
    background-color:rgba(0,0,0,0.7);
    border-radius:0.5em;
    color:orange;
    text-align:center;
    padding-top:1em;
}
.player2
{
    position:absolute;
    left:12.1%;
    top:5%;
    width:18em;
    height:7em;
    border: 3px solid green;
    background-color:rgba(0,0,0,0.7);
    border-radius:0.5em;
    color:green;
    text-align:center;
    padding-top:1em;
   
}
.Playernames
{
    position:absolute;
    width:50em;
    height:19em;
    background-color:black;
    top:20em;
    left:24em;
    border-radius:0.5em;
    border: 3px solid green;
    opacity:0.7;
    text-align:center;
    color:orange;
    padding-top:6em;
}
.Playername
{
    width:25em;
    height:2em;
    border:none;
    background-color:transparent;
    border-bottom:3px solid orange;
    color:orange;
    font-size:1em;
    opacity:none;
}
.Playername2
{
    position:absolute;
    width:25em;
    height:2em;
    border:none;
    background-color:transparent;
    border-bottom:3px solid green;
    color:green;
    font-size:1em;
    opacity:none;
    top:51.9%;
    left:38.4%;
}